<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ data.author.name }}">

    {{{ stylesheets.all }}}
    {{{ javascripts.all }}}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1196777-8']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
  </head>
  <body>

    <!-- Navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#"><img src="{{urls.media}}/harmony.png" alt="Harmony Cycles" /></a>
        <ul class="nav pull-right">
          <li><a href="/">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#contact">APPOINTMENT</a></li>
          <li><a id="harmony-questions" href="ajax-1">QUESTIONS</a></li>
        </ul>
      </div>
    </div>

    <div id="main" class="container">

      <!-- Work -->
      <section id="work" class="row dark">
        <div class="span12">
          
          <!-- Current work holder (content added via jQuery) -->
          <div class="work-wraper">
            <div class="current-work-holder">
               <div class="portfolio-item">
                <div class="text-block">
                  <h3 class="centered">Welcome to <span class="blue">Harmony Cycles</span></h3>
                  <p>Offering a different approach to the bike shop experience, we narrow the focus to the two things that matter--<em>you and your bike</em>. By utilizing a service oriented, appointment only scheduling model, we are able to offer the best pricing, quality, and turnaround time for your bicycle tuneup or repair.</p>
                  <p>Professional tuneups start at $49. <a href="#contact">Schedule yours today.</a></p>
                </div>
                <img class="pull-right" src="{{urls.media}}/logo-gry.png" alt="Harmony Cycles" />
               </div>
             </div>
          </div>
          <!-- Carousel nav -->
          <div class="navigation-wraper" style="display: none;">
            <a class="carousel-control left" href="#" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#" data-slide="next">&rsaquo;</a>
          </div>

        </div>
      </section><!-- /.row.black -->

      <!-- About -->
      <section id="about" class="row grey">
        <div class="span12">

          <header class="row">
            <div class="span12"><h2 class="section-header"><i class="icon-group icon-large"></i> ABOUT US</h2></div>
          </header>
          
          <div class="row">
            <div class="span12">
              <div class="hero-unit white"><p>Specializing in bicycles for your everyday needs, this Seward neighborhood 
                bike shop is committed to making all of your bicycle journeys a pleasure. Whether you need a bike to carry
                your children, pets, plants, groceries, or simply need something stylish to transport your fetching self, we'll help you get it.</p></div>
            </div>
          </div>
          
          <h2 class="lead">Meet the team</h2>

          <div class="members-wraper">
            <div id="member-first" class="member-holder">
              <img class="img-circle" src="{{urls.media}}/team-members/1.jpg" alt="member" width="260" height="260">
              <div class="member-info-wraper">
                <header class="pull-left">
                  <h3>Tim Lupfer</h3>
                  <span>Advisor and mechanic</span>
                </header>
                <ul class="social-icons unstyled pull-right">
                  <li><a href="https://wwww.facebook.com/timlupfer"><i class="flippa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/tlupfer"><i class="flippa-twitter"></i></a></li>
                </ul>  
                <div class="clearfix"></div>
                <div class="meet-staff"><p>Seven years working in the bicycle industry has taught me to appreciate the infinite capacity, accessibility, and scalability of the bicycle. I do not own a car, so transportational cycling is an important part of my life. I also ride for sport, recreation, self-examination/introspection, and the pure, childish joy of being on a bicycle. Dirt, snow, or asphalt--they're all perfect. Aw, love.</p></div>
              </div>
            </div>
            <div id="member-second" class="member-holder">
              <img class="img-circle" src="{{urls.media}}/team-members/2.jpg" alt="member" width="260" height="260">
              <div class="member-info-wraper">
                <header class="pull-left">
                  <h3>Kai Curry</h3>
                  <span>Founder</span>
                </header>
              <ul class="social-icons unstyled pull-right">
                  <li><a href="https://wwww.facebook.com/kaicurry"><i class="flippa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/kaicurry"><i class="flippa-twitter"></i></a></li>
              </ul> 
                <div class="clearfix"></div>
                <div class="meet-staff">
                  <p>Biking is an amazing experience. It's the closest I can get to flying around like superman without leaving the ground. Professionally I've ventured from ecologist to technologist. Since staring at screens all day isn't so great I now have scheduled time to work with my hands and fuel my passion for self-supporting transportation. Besides, how else was I going to get a Winther Kangaroo for my baby girl? Go bikes!</p>
                </div>
              </div>
            </div>
            <div id="member-third" class="member-holder">
              <img class="img-circle" src="{{urls.media}}/team-members/bryce-rasmussen.jpg" alt="member" width="260" height="260">
              <div class="member-info-wraper">
                <header class="pull-left">
                  <h3>Bryce Rasmussen</h3>
                  <span>Mechanic and chemistry teacher</span>
                </header>
              <ul class="social-icons unstyled pull-right">
                  <!-- <li><a href="https://www.facebook.com/profile.php?id=16927894&fref=ts"><i class="flippa-facebook"></i></a></li> -->
              </ul> 
                <div class="clearfix"></div>
                <div class="meet-staff">
                  <p>Living in the city and working in the suburbs gives me an unusual insight into the challenges of bike commuting in all situations. With a daily round trip commute of 40+ miles, I have loads of experience with everything bike-commuting and public transportation related. My most memorable commutes involve lots of precipitation, busses, bikes, trains, 20mph headwinds, on-the road repairs, and 3 hour one-way commute times.</p>
                </div>
              </div>
            </div>
            <div id="member-fourth" class="member-holder active">
              <img class="img-circle" src="{{urls.media}}/team-members/3.jpg" alt="member" width="260" height="260">
              <div class="member-info-wraper">
                <header class="pull-left">
                  <h3>Alex Cook</h3>
                  <span>Framebuilder, mechanic, and visionary leader</span>
                </header>
              <ul class="social-icons unstyled pull-right">
                  <li><a href="https://wwww.facebook.com/atraincycles"><i class="flippa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/atraincycles"><i class="flippa-twitter"></i></a></li>
              </ul> 
                <div class="clearfix"></div>
                <div class="meet-staff">
                  <p>I have about five years of experience as a framebuilder, going back to my initial education at UBI.  I focus on creating handcrafted bicycles and accessories that are organically suited to a rider's goals, temperament and aesthetic sensibilities. While this has transformed into a business, it was born out of a passion and love for cycling. In my spare time, I help out at Harmony.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          
          <div class="members-wraper">
            <ul class="members unstyled">
              <li>
                <a href="#member-fourth" title="Alex Cook"><img class="img-circle" src="{{urls.media}}/team-members/3.jpg" alt="Alex Cook" width="150" height="150"></a>

              </li>
              <li>
                <a href="#member-second" title="Kai Curry"><img class="img-circle" src="{{urls.media}}/team-members/kai-curry.jpg" alt="Kai Curry" width="150" height="150"></a>
              </li>
              <li>
                <a href="#member-third" title="Bryce Rasmussen"><img class="img-circle" src="{{urls.media}}/team-members/bryce-rasmussen.jpg" alt="Bryce Rasmussen" width="150" height="150"></a>
              </li>
              <li>
                <a href="#member-first" title="Tim Lupfer"><img class="img-circle" src="{{urls.media}}/team-members/1.jpg" alt="Tim Lupfer" width="150" height="150"></a>
              </li>
            </ul>
          </div>

        </div>
      </section><!-- /.row.grey -->

      <!-- Contact -->
      <section id="contact" class="row white">
        <div class="span12">

          <header class="row">
            <div class="span12"><h2 class="section-header"><i class="icon-envelope icon-large"></i> SCHEDULE SERVICE</h2></div>
          </header>
      
          <!-- Contact info -->
        <div class="contact-wraper">
          <div class="contact-info pull-right">
            <address>
              <strong>Harmony Cycles</strong><br />
              2637 27th Ave S.<br />
              Suite 106a<br />
              Minneapolis, MN 55406<br>
              <abbr title="Phone"><i class="icon-phone"></i></abbr> (612) 819-6107
            </address>

          </div>
                          
          <div class="contact-form pull-left">
            <div id="wufoo-z7p9r7"></div>
            <script type="text/javascript">var z7p9r7;(function(d, t) {
            var s = d.createElement(t), options = {
            'userName':'sundaysenergy', 
            'formHash':'z7p9r7', 
            'autoResize':true,
            'height':'757',
            'async':true,
            'header':'hide'};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { z7p9r7 = new WufooForm();z7p9r7.initialize(options);z7p9r7.display(); } catch (e) {}};
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');</script>
          
          </div>
        </div>

        </div>
      </section><!-- /.row.white -->

      <div class="map">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=harmony+cycles&amp;ie=UTF8&amp;hq=harmony+cycles&amp;hnear=Minneapolis,+Minnesota&amp;ll=44.95482,-93.232936&amp;spn=0.011979,0.021865&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=16599897303068612887&amp;output=embed"></iframe>
      </div>
      <div class="row">
        <div class="span12">
          <div class="hero-unit text-centered"><p class="large">We hope to see <span class="blue">you</span> soon!</p></div>
        </div>
      </div>

    </div><!-- /#main.container -->
  </body>
</html>
