<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ data.author.name }}">

    {{{ stylesheets.all }}}
    {{{ javascripts.all }}}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le favicon -->
    <link rel="shortcut icon" href="favicon.ico">

  </head>
  <body>

    <!-- Navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#"><img src="{{urls.media}}/harmony.png" alt=""></a>
        <ul class="nav pull-right">
          <li><a href="#work">WORK</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>

    <div id="main" class="container">

      <!-- Work -->
      <section id="work" class="row dark">
        <div class="span12">
<!--
          <header class="row">
            <div class="span12"><h2 class="section-header text-white"><i class="icon-heart icon-large"></i> OUR WORK</h2></div>
          </header>
-->
          
          <!-- Current work holder (content added via jQuery) -->
          <div class="work-wraper">
            <div class="current-work-holder">
               <div class="portfolio-item">
                <div class="text-block">
                  <h3 class="centered">Welcome to <span class="blue">Harmony Cycles</span></h3>
                  <p><strong>Looking for a different experience from your bike shop?</strong> We work with one bike and one customer at a time. Using an appointment only approach, we specialize in offering the best possible service and pricing. Because we don't try to do everything, our professional tuneup is only $49.</p>
                  <p>Schedule yours today.</p>
                </div>
                <img class="pull-right" src="{{urls.media}}/logo-gry.png">
               </div>
             </div>
          </div>
          <!-- Carousel nav -->
          <div class="navigation-wraper" style="display: none;">
            <a class="carousel-control left" href="#" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#" data-slide="next">&rsaquo;</a>
          </div>
          
          <!-- Work thumbs -->
<!--
          <div class="row">
            <div class="span12">
              <ul class="work-thumbs list unstyled">
                <li>
                  <a href="ajax/1.html"><i class="icon-plus-sign"></i></a>
                  <img src="{{urls.media}}/portfolio-thumbs/1.png" alt="">
                </li>
                <li>
                  <a href="ajax/typica.html"><i class="icon-plus-sign"></i></a>
                  <img src="{{urls.media}}/portfolio-thumbs/2.png" alt="">
                </li>
                <li>
                  <a href="ajax/3.html"><i class="icon-plus-sign"></i></a>
                  <img src="{{urls.media}}/portfolio-thumbs/3.png" alt="">
                  
                </li>
                <li>
                  <a href="ajax/4.html"><i class="icon-plus-sign"></i></a>
                  <img src="{{urls.media}}/portfolio-thumbs/4.png" alt="">
                </li>
                <li>
                  <a href="ajax/5.html"><i class="icon-plus-sign"></i></a>
                  <img src="{{urls.media}}/portfolio-thumbs/5.png" alt="">
                </li>
              </ul>
            </div>
          </div>
        -->

        </div>
      </section><!-- /.row.black -->

      <!-- About -->
      <section id="about" class="row grey">
        <div class="span12">

          <header class="row">
            <div class="span12"><h2 class="section-header"><i class="icon-group icon-large"></i> ABOUT US</h2></div>
          </header>
          
          <div class="row">
            <div class="span12">
              <div class="hero-unit white"><p>Specializing in bicycles for your everyday needs, this Seward neighborhood 
                bike shop is committed to making all of your bicycle journeys a pleasure. Whether you need a bike to carry
                your children, pets, plants, groceries, or simply need something stylish to transport your fetching self, we'll help you get it.</p></div>
            </div>
          </div>
          
          <h2 class="lead">Meet the team</h2>

          <div class="members-wraper">
            <div id="member-first" class="member-holder active">
              <img class="img-circle" src="{{urls.media}}/team-members/1.png" alt="member" width="260" height="260">
              <div class="member-info-wraper">
                <header class="pull-left">
                  <h3>Tim Lupfer</h3>
                  <span>Co-Founder</span>
                </header>
                <ul class="social-icons unstyled pull-right">
                  <li><a href="https://wwww.facebook.com/timlupfer"><i class="flippa-facebook"></i></a></li>
                  <li><a href="#"><i class="flippa-google-plus"></i></a></li>
                  <li><a href="#"><i class="flippa-linkedin"></i></a></li>
                  <li><a href="https://twitter.com/tlupfer"><i class="flippa-twitter"></i></a></li>
                </ul>  
                <div class="clearfix"></div>
                <p>I love bicycles. I do not own a car, so naturally, transportational cycling is an important part of my life. However, it does not define my experience. I also bike for sport, recreation, self examination/introspection, and the pure childish joy of being on a bicycle. I love the dirt, I love the snow, and I love the asphalt. It’s all perfect and worth experiencing. My girlfriend and I own an old three speed tandem. It is often used for date night. This is one of my favorite things in life. Other hobbies and interests include: sewing, reading, writing, food, wine, beer, conversation, photography, organization, doodling, wordgames, board games, feet games, ball games, hiking, running, camping, interesting smells, music, movies, and uhhh… stuff!</p>
              </div>
            </div>
            <div id="member-second" class="member-holder">
              <img class="img-circle" src="{{urls.media}}/team-members/2.png" alt="member" width="260" height="260">
              <div class="member-info-wraper">
                <header class="pull-left">
                  <h3>Kai Curry</h3>
                  <span>Co-Founder</span>
                </header>
              <ul class="social-icons unstyled pull-right">
                  <li><a href="https://wwww.facebook.com/kaicurry"><i class="flippa-facebook"></i></a></li>
                  <li><a href="#"><i class="flippa-google-plus"></i></a></li>
                  <li><a href="#"><i class="flippa-linkedin"></i></a></li>
                  <li><a href="https://twitter.com/kaicurry"><i class="flippa-twitter"></i></a></li>
              </ul> 
                <div class="clearfix"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
            <div id="member-third" class="member-holder">
              <img class="img-circle" src="{{urls.media}}/team-members/3.png" alt="member" width="260" height="260">
              <div class="member-info-wraper">
                <header class="pull-left">
                  <h3>Alex Cook</h3>
                  <span>Makes coffe</span>
                </header>
              <ul class="social-icons unstyled pull-right">
                <li><a href="#"><i class="flippa-linkedin"></i></a></li>
                <li><a href="#"><i class="flippa-twitter"></i></a></li>
              </ul> 
                <div class="clearfix"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          
          <div class="members-wraper">
            <ul class="members unstyled">
              <li>
                <a href="#member-first" title="Kim Lee"><img class="img-circle" src="{{urls.media}}/team-members/1.png" alt="member" width="200" height="200"></a>
              </li>
              <li>
                <a href="#member-second" title="John Doe"><img class="img-circle" src="{{urls.media}}/team-members/2.png" alt="member" width="200" height="200"></a>
              </li>
              <li>
                <a href="#member-third" title="Ashley Grey"><img class="img-circle" src="{{urls.media}}/team-members/3.png" alt="member" width="200" height="200"></a>

              </li>
            </ul>
          </div>

        </div>
      </section><!-- /.row.grey -->

      <!-- Contact -->
      <section id="contact" class="row white">
        <div class="span12">

          <header class="row">
            <div class="span12"><h2 class="section-header"><i class="icon-envelope icon-large"></i> CONTACT US</h2></div>
          </header>
      
          <!-- Contact info -->
        <div class="contact-wraper">
          <div class="contact-info pull-left">
            <address>
              <strong>Company, Inc.</strong><br>
              1111-A Nowhere Lane <br>
              Outta Sight, State 90378<br>
              <abbr title="Phone"><i class="icon-phone"></i></abbr> (123) 456-7890
            </address>
            
            <hr>
            <address>
              <strong>Mike</strong> <small>Graphic designer</small><br>
              <a href="mailto:#">email@gmail.com</a><br>
               <abbr title="Phone"><i class="icon-phone"></i></abbr> (123) 456-7890
            </address>
            <hr>
            <address>
              <strong>John Doe</strong> <small>UX Specialist</small><br>
              <a href="mailto:#">email@gmail.com</a><br>
               <abbr title="Phone"><i class="icon-phone"></i></abbr> (123) 456-7890
            </address>

          </div>
                
          <img src="{{urls.media}}/intouch.png" alt="Lets stay in touch" class="pull-left contact-img hidden-phone hidden-tablet">
          
          <div class="contact-form pull-right">
            <form class="form form-horizontal" action="#" method="post">
          
              <fieldset>
                                     
                <div class="control-group">
                   <label for="name" class="control-label">Name</label>
                   <div class="controls">
                       <input type="text" id="name" class="input-xlarge"/>
                   </div><!--controls-->
                </div><!--control-group-->
          
                <div class="control-group">
                   <label for="email" class="control-label">E-mail</label>
                   <div class="controls">
                       <input type="text" id="email" class="input-xlarge"/>
                   </div><!--controls-->
                </div><!--control-group-->
          
                <div class="control-group">
                   <label for="phone" class="control-label">Phone</label>
                   <div class="controls">
                       <input type="text" id="phone" class="input-xlarge"/>
                   </div><!--controls-->
                </div><!--control-group-->
          
                <div class="control-group">
                   <label for="txt" class="control-label">Message</label>
                       <div class="controls">
                           <textarea rows="6" id="txt" class="input-xlarge"></textarea> 
                       </div>
                </div>
          
                <div class="control-group">
                       <div class="controls">
                          <button class="btn" type="submit">Send</button> 
                       </div>
                </div>
                                 
                  </fieldset>
          
            </form>
          
          </div>
        </div>

        </div>
      </section><!-- /.row.white -->

<!--
      <div class="map">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=40.052282,86.572266&amp;t=m&amp;z=4&amp;output=embed"></iframe>
      </div>
-->

      <div class="row">
        <div class="span12">
          <div class="hero-unit text-centered"><p class="large">I hope <span class="blue">You</span>'ve enjoyed this website!</p></div>
        </div>
      </div>

    </div><!-- /#main.container -->
  </body>
</html>
