<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ data.author.name }}">

    {{{ stylesheets.all }}}
    {{{ javascripts.all }}}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1196777-8']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
  </head>
  <body>

    <!-- Navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="#"><img src="{{urls.media}}/harmony.png" alt="Harmony Cycles" /></a>
        <ul class="nav pull-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/#about">ABOUT</a></li>
          <li><a href="/#contact">APPOINTMENT</a></li>
          <li><a id="harmony-questions" href="/ajax-1">QUESTIONS</a></li>
        </ul>
      </div>
    </div>

    <div id="main" class="container">

      <!-- Work -->
      <section id="work" class="row dark">
        <div class="span12">
          
          <!-- Current work holder (content added via jQuery) -->
          <div class="work-wraper">
            <div class="current-work-holder">
               <div class="portfolio-item">
                 {{{ content }}}
               </div>
             </div>
          </div>
          <!-- Carousel nav -->
          <div class="navigation-wraper" style="display: none;">
            <a class="carousel-control left" href="#" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#" data-slide="next">&rsaquo;</a>
          </div>

        </div>
      </section><!-- /.row.black -->
      
      <div class="row">
        <div class="span12">
          <div class="hero-unit text-centered"><p class="large">We hope to see <span class="blue">you</span> soon!</p></div>
        </div>
      </div>
    </div><!-- /#main.container -->
  </body>
</html>
